#catalogo .lista,#favoritos .lista,#busca .lista{
    display: flex; 
    flex-wrap: wrap;
}
.box-serie{
    max-width:300px;
    padding-right:50px;
    padding-bottom:30px;
}
.box-serie img {
    -webkit-box-shadow: 9px 10px 17px -5px rgba(0,0,0,0.41);
    -moz-box-shadow: 9px 10px 17px -5px rgba(0,0,0,0.41);
    box-shadow: 9px 10px 17px -5px rgba(0,0,0,0.41);
}
#serie-detalhes .photo {
    width: 50%;
    padding: 1em;    
}
#serie-detalhes .summary {
    width: 50%;
    padding: 1em;
}
#serie-detalhes .detalhes{
    display: flex
}
.modal-background {
    background-color: rgba(10, 10, 10, 0.96)
}
.flex-container {
    display:flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
}
#procurar-wrap{
    flex-grow: 1;
    text-align: right
}
@media only screen and (max-width: 600px) {
    .container{
        width: 210px;
    }
    .box-serie {
        padding-right: 0
    }
    #serie-detalhes .photo {
        width: 100%;
        text-align: center;
        padding:0
    }
    #serie-detalhes .summary {
        width: 100%;
    }
    #serie-detalhes .detalhes{
        display: block;
        width: 80%;
        margin: auto;
    }
    #procurar-wrap{
        flex-grow: unset;
    }
    #logo {
        margin-right: 30px
    }
} 
@media only screen and (min-width: 600px) {
    .container{
        width: 520px;
    }
    #procurar-wrap{
        flex-grow: unset;
    }
    #logo {
        margin-right: 30px
    }
}
@media only screen and (min-width: 800px) {
    .container{
        width: 780px;
    }
    #logo {
        margin-right: 130px
    }
}
@media only screen and (min-width: 1200px) {
    .container{
        width: 100%;
    }
    #logo {
        margin-right: 130px
    }
}